body{ 
  background-color: bisque;
}

h2
{
  color: blue;
  font-size: 100px;
  background-color: darkgoldenrod;
  background-image: url("");
  text-align: center;
  font-variant: small-caps;
  cursor: auto;
}
h2:hover{
  color: red;


}

p{ /* this is called box model*/
  border: 1px solid;
  padding: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
}
#CSS1color{ 
  color: blue; /*this is for id*/
 /* cursor: all-scroll;*/
}
.Css2{
  font-size: 60px; /*this is for Class */
}
.uname{
  color: blue;
}

/*#google-link:link{ //psuedoselectors
  color: blue;
}
#google-link:visited{
  color:red;
}*/
textarea ~ button{
  color: red;
}
div{
  border: 5px solid;
  border-color: yellowgreen;
  padding: 5px;
  width: 350px;
  height: 150px;
  margin-left: -1px;
  margin-top: 5px;
  color: blue;
  /* text-align: justify; */
  line-height: 30px;
  text-indent: 20px;
  word-spacing: 10px;
  opacity: 0.5;
  /* overflow: scroll; used to scroll the content that is going out the container. Here it is <div> */ 
  overflow-y: scroll;
  
  }
  ul{
    list-style-type: lower-alpha;
    margin-left: 0px;
  }
a:link{
  color: blue;
}
a:visited{
  color:black;
}
a:active{
  color: blue;
}
caption{
  border-style: solid ;
  border-color: blueviolet;
}
table{
  border: 1px solid;
  width: 10px;
}
tr{
  border: 1px solid; 
}
th{
border: 1px solid;
border-color: aqua;
}
td{
  border: 1px solid;
  text-align: center;
}