body{
  background-color: bisque;
}

h2
{
  color: blue;
  font-size: 100px;
  background-color: darkgoldenrod;
  background-image: url("");
  text-align: center;
}
h2:hover{
  color: red;

}

#CSS1color{ 
  color: blue; /*this is for id*/
}
.Css2{
  font-size: 60px; /*this is for Class */
}
.uname{
  color: blue;
}

/*#google-link:link{ //psuedoselectors
  color: blue;
}
#google-link:visited{
  color:red;
}*/
textarea ~ button{
  color: red;
}